[submodule "chess_client"]
	path = chess_client
	url = ./chess_client
[submodule "chess_server"]
	path = chess_server
	url = ./chess_server
[submodule "chess_lib"]
	path = chess_lib
	url = ./chess_lib
